GET_DB=True
POST_DB=True

SQLALCHEMY_DATABASE_URI=sqlite:///tornado.db

TURNSTILE_SECRET=
TURNSTILE_SITEKEY=

YANDEX_SITEKEY=
YANDEX_SERVER=

SERVER_NAME_PING=
SERVER_IMG_URL=
SERVER_VERIFY=
LICENSE_SALT=
SERVER_OPENKEY=

FLASK_DEBUG=False
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
