GET_DB=True
POST_DB=True

SQLALCHEMY_DATABASE_URI=sqlite:///tornado.db

TURNSTILE_SECRET=
TURNSTILE_SITEKEY=

YANDEX_SITEKEY=
YANDEX_SERVER=

SERVER_NAME_PING=
SERVER_IMG_URL=
SERVER_VERIFY=
LICENSE_SALT=
SERVER_OPENKEY=

FLASK_DEBUG=False
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
AGORA_FLASK_HOST=0.0.0.0

FLASK_PORT=3000
USE_SSL=True

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/spotify/callback
