.venv/
.venvosik/
.idea/
instance/
.env
Tornado.zip
example.html
example.py
key_encoder.py
tests/
frontend/
migrations/
connect_to_server_auth.py
dist/
static/uploads/

.claudeignore
.claude/

build_exe.py
app-trn.log