<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TORNADO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Varela+Round&display=swap" rel="stylesheet">
    {% include 'more.html' %}
</head>
<body>
    {% include 'bar.html' %}
    Переписка
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>