<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Tornado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
</head>
<body>
    <div class="preloader" id="preloader">
        <svg viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>

    <header class="header">
        <div class="container">
            <div class="left-section">
                <button class="btn42" id="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="logo-container">
                    <img class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Логотип Tornado">
                </div>
            </div>
            <div class="right-section">
                <button class="btn42"><i class="fa-solid fa-moon"></i></button>
                <button id="user"><i class="fa-solid fa-user"></i> Профиль</button>
                <button id="cart"><i class="fa-solid fa-cart-shopping"></i> Корзина</button>
            </div>
        </div>
    </header>

    <main>
        <div class="smooth-scroll">
            {% block content %}{% endblock %}
        </div>
    </main>

    <div class="smooth-scrollbar"></div>
    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                const preloader = document.getElementById('preloader');
                preloader.classList.add('hidden');

                setTimeout(function() {
                    preloader.remove();
                }, 100);
            }, 100);
        });
    </script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>